$inter:'Inter', sans-serif;
$poppins:'Poppins', sans-serif;
@mixin cirkle($left){
    position: absolute;
    left: $left;
}
.header{
    display: flex;
    width: 1400px;
    height: 52px;
    background: saddlebrown;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    &_icondiv{
        display: flex;
        align-items: center;
        column-gap: 7px;
        &_svg{
            width: 32px;
            height: 32px;
        }
        &_name{
            font-family: $inter;
            font-size: 20px;
            font-weight: 600;
        }
    }
    &_linkdiv{
        width: 507px;
        height: 20px;
        background: violet;
        &_nav{
            display: flex;
            justify-content: space-between;
            &_link{
                text-decoration: none;
                font-family: $inter;
                font-size: 500;
                font-size: 18px;
                color: rgba(24, 33, 109, 1);
            }
        }
    }
    &_btns{
        display: flex;
        column-gap: 45px;
        height: 100%;
        &_item{
            cursor: pointer;
            display: flex;
            width: 136px;
            height: 52px;
            align-items: center;
            justify-content: center;
            font-family: $inter;
            font-weight: 500;
            font-size: 18px;
        }
    }
}
.blue{
    background: rgba(24, 33, 109, 1);
    color: white;
    border-radius: 6px;
}
.nobg{
    color: rgba(24, 33, 109, 1);
}
.main{
    background: darkmagenta;
    width: 1196px;
    margin: 0 auto;

    &_left{
        width:498px;
        height: 292px;
        background: darkgreen;
        align-items: center;
        &_title{
            font-family: $inter;
            font-weight: 600;
            font-size: 48px;
        }
        &_subtitle{
            font-family: $inter;
            font-size: 17px;
            font-weight: 400;
            padding-top: 16px;
        }
        &_btn{
            width: 180px;
            height: 66px;
            margin-top: 34px;
            background:rgba(0, 236, 208, 1);
            border-radius: 6px;
            border: none;
            color:rgba(24, 33, 109, 1);
            font-family: $inter;
            font-size: 17px;
            font-weight: 500;
        }
    }
    &_right{
        height: 518.35px;
        background: saddlebrown;
        &_img{
            position: absolute;
            right: 165px;
            width: 786px;
            height: 518.35px; 
        }
    }
    &_imgAndText{
        display: flex;
        width: 1189px;
        background: darkorange;
        margin: 0 auto;
        margin-top: 50px;
        align-items: center;
    }
    &_stats{
        width: 1107px;
        height: 150px;
        background: tomato;
        display: flex;
        justify-content: space-between;
        &_left{
            Width:494px;
            Height:150px;
            &_text{
                font-family: $inter;
                font-weight: 600;
                font-size: 36px;
                color: rgba(24, 33, 109, 1);
                line-height: 50px;
            }
        }
        &_right{
            display: flex;
            width: 336px;
            height: 142px;
            background: darkgoldenrod;
            justify-content: space-between;
            &_download{
                width: 137px;
                height: 134px;
                background: yellow;
                &_title{
                    font-family: $inter;
                    font-weight: 700;
                    font-size: 60px;
                    color:rgba(24, 33, 109, 1);
                }
                &_svg{
                    padding-top: 10px;
                    width: 16px;
                    height: 14px;
                }
                &_subtitle{
                    font-family: $inter;
                    font-weight: 400;
                    font-size: 16px;
                    padding-top: 12px;
                }
            }
            &_rating{
                width: 107.28px;
                height: 134px;
                background: blue;
                &_title{
                    font-family: $inter;
                    font-weight: 700;
                    font-size: 60px;
                    color:rgba(24, 33, 109, 1);
                }
                &_svg{
                    margin-top: 8.04px;
                    Width:16.69px;
                    Height:15.9px;
                }
                &_subtitle{
                    font-family: $inter;
                    font-size: 16px;
                    font-weight: 400;
                    color: rgba(24, 33, 109, 1);
                    padding-top: 12.04px;
                }
            }
        }
    }
    &_partners{
        display: flex;
        width: 1110px;
        height: 34.88px;
        background: burlywood;
        margin-left: 30px;
        align-items: center;
        column-gap: 79.73px;
        &_airbnblogo{
            width: 112.12px;
            height: 34.88px;
        }
        &_layer2{
            Width:104.65px;
            Height:29.91px;
        }
        &_google{
            width: 104.65px;
            height: 34.88px;
        }
        &_microsoft{
            width: 151.99px;
            height: 32.39px;   
        }
        &_fedex{
            Width:99.54px;
            Height:30.06px;
        }
    }
    &_features{
        display: flex;
        justify-content: center;
        font-family: $inter;
        font-weight: 600;
        font-size: 48px;
        padding-top: 130.12px;
    }
    &_subfeature{
        font-family: $inter;
        font-size: 16px;
        font-weight: 400;
        Width:542px;
        text-align: center;
        margin: 0 auto;
        line-height: 30px;
        padding-top: 12px;
    }
    &_advantages{
        display: flex;
        width: 1120px;
        background: rgb(100, 5, 0);
        column-gap: 80px;
        &_price{
            width: 320px;
            height: 267px;
            background: firebrick;
            &_SVG{
                width: 72px;
                height: 72px;
            }
            &_title{
                font-family: $inter;
                font-size: 24px;
                font-weight: 600;
                padding-top: 28px;
                color: rgba(24, 33, 109, 1);
            }
            &_subtitle{
                font-family: $inter;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                color: gray;
                padding-top: 14px;
            }
            &_more{
                font-family: $inter;
                font-size: 20px;
                font-weight: 500;
                padding-top: 30px;
                color:rgba(24, 33, 109, 1);
            }
        }
        &_Collaboration{
            width: 320px;
            background: rgb(139, 132, 0);
            &_medalsvg{
                width: 55.58px;
                height: 72px;
            }
            &_medalsvg2{
                width: 71.15px;
                height: 72px;
            }
            &_title{
                font-family: $inter;
                font-size: 24px;
                font-weight: 600;
                color: rgba(24, 33, 109, 1);
                padding-top: 28px;
            }
            &_subtitle{
                font-family: $inter;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                color: gray;
            }
            &_more{
                font-family: $inter;
                font-size: 20px;
                font-weight: 500;
                color: rgba(24, 33, 109, 1);
                padding-top: 30px;
            }
        }
    }
    &_download{
        display: flex;
        width: 100%;
        height: 593px;
        background: #005FEC;
        margin-top: 130px;
        align-items: center;
        column-gap: 10px;
        &_leftContent{
            width: 487px;
            height: 307px;
            background: tomato;
            &_title{
                font-family: $inter;
                font-weight: 600;
                font-size: 36px;
                line-height: 48px;
            }
            &_subtitle{
                padding-top: 15px;
                font-family: $inter;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
            }
            &_btn{
                cursor: pointer;
                width: 160px;
                height: 52px;
                border-radius: 6px;
                border: none;
                background: #a9ec00;
                color: #FFFFFF;
                margin-top: 40px;
            }
        }
        &_rightContent{
            width: 690px;
            height: 437px;
            
        }
    }
    &_freeTrall{
        display: flex;
        width: 1091px;
        height: 508px;
        background: salmon;
        &_contentleft{
            width: 400px;
            height: 450px;
            background: url(/img/Group\ 862.png);
            &_WeeklyMettingBlock{
                position: absolute;
                width: 184px;
                height: 150px;
                background: #da3535;
                border-radius: 6px;
                margin-top: 358px;
                margin-left: 317px;
                text-align: center;
                &_WeeklyMettingText{
                    padding-top: 18px;
                    font-family: $inter;
                    font-size: 18px;
                    font-weight: 500;
                }
                &_userPannel{
                    display: flex;
                    position: relative;
                    width: 132px;
                    height: 36px;
                    margin: 0 auto;
                    margin-top: 8px;
                    &_circle{
                        width: 36px;
                        height: 36px;
                        border: 1.5px solid #d1d1d1;
                        border-radius: 50%;
                        &_absolute{
                            &_1{
                                @include cirkle(25px);
                            }
                            &_2{
                                @include cirkle(50px);
                            }
                            &_3{
                                @include cirkle(75px);
                            }
                            &_4{
                                @include cirkle(100px);

                            }
                        }
                    }
                }
                &_btn{
                    width: 100px;
                    height: 30px;
                    border: none;
                    background: #DAE9FF;
                    color: rgba(0, 95, 236, 1);
                    border-radius: 4px;
                    font-family: $inter;
                    font-size: 12px;
                    font-weight: 400;
                    margin-top: 23px;
                }
            }
            &_img{
                width: 100%;
                height: 100%;
                margin: 0 auto;
            }
        }
        &_contentRight{
            width: 496px;
            height: 444px;
            background: saddlebrown;
            margin-left: 196px;
            &_title{
                width: 496px;
                font-family: $inter;
                font-size: 36px;
                font-weight: 600;
                line-height: 48px;
                color:rgba(24, 33, 109, 1);
            }
            &_subtitle{
                width: 446px;
                font-family: $inter;
                font-size: 16px;
                font-weight: 400;
                padding-top: 16px;
                color: #18216D;
                line-height: 30px;
            }
            &_advantages{
                width: 309.98px;
                height: 107.97px;
                margin-top: 30px;
                &_faster{
                    display: flex;
                    align-items: center;
                    column-gap: 16.01px;
                    &_tick{
                        width: 19.97px;
                        height: 19.97px;
                    }
                    &_text{
                        font-family: $inter;
                        font-size: 18px;
                        font-weight: 500;
                        color: rgba(24, 33, 109, 1);
                    }
                }
                &_productivity{
                    display: flex;
                    align-items: center;
                    column-gap: 16.01px;
                    margin-top: 24.03px;
                    &_tick{
                        width: 19.97px;
                        height: 19.97px;
                    }
                    &_text{
                        font-family: $inter;
                        font-size: 18px;
                        font-weight: 500;
                        color: rgba(24, 33, 109, 1);
                    }
                }
                &_relationships{
                    display: flex;
                    align-items: center;
                    column-gap: 16.01px;
                    margin-top: 24.03px;
                    &_tick{
                        width: 19.97px;
                        height: 19.97px;
                    }
                    &_text{
                        font-family: $inter;
                        font-size: 18px;
                        font-weight: 500;
                        color: rgba(24, 33, 109, 1);
                    }
                }
            }
            &_btn{
                width: 164px;
                height: 54px;
                background: #005FEC;
                border-radius: 6px;
                border: none;
                color: white;
                font-family: $inter;
                font-size: 16px;
                font-weight: 400;
                margin-top: 50.03px;
            }
        }
    }
    &_plantext{
        display: flex;
        justify-content: center;
        font-family: $inter;
        font-size: 48px;
        font-weight: 600;
        padding-top: 131px;
    }
    &_subtext{
        display: flex;
        margin: 0 auto;
        text-align: center;
        font-family: $inter;
        font-size: 16px;
        font-weight: 400;
        width: 542px;
        height: 60px;
        padding-top: 20px;
    }
    &_duration{
        display: flex;
        width: 272px;
        height: 60px;
        margin: 0 auto;
        border-radius: 6px;
        background: #005eec10;
        align-items: center;
        justify-content: flex-start;
        padding: 0 6px;
        &_Annually{
            width: 135px;
            height: 48px;
            background: none;
            border:none;
            cursor: pointer;
            &:hover{
                background: #FFFFFF;
                border-radius: 6px;
                color:rgba(0, 95, 236, 1);
                transition-duration: 0.3s;
            }
            &:focus{
                background: #FFFFFF;
                border-radius: 6px;
                color:rgba(0, 95, 236, 1);
                transition-duration: 0.2s;
            }
        }
        &_Monthly{
            width: 135px;
            height: 48px;
            background: none;
            border: none;
            cursor: pointer;
            &:hover{
                background: #FFFFFF;
                border-radius: 6px;
                color:rgba(0, 95, 236, 1);
                transition-duration: 0.3s;
            }
            &:focus{
                background: #FFFFFF;
                border-radius: 6px;
                color:rgba(0, 95, 236, 1);
                transition-duration: 0.2s;
            }
        }
    }
    &_pricePlan{
        display: flex;
        width: 1155px;
        height: 620px;
        background: darkkhaki;
        margin-top: 80px;
        column-gap: 45px;
        &_Basic{
            Width:355px;
            Height:620px;
            background: forestgreen;
            border: 1px solid #232629;
            border-radius: 10px;
            &_header{
                width: 355px;
                height: 160px;
                background-color: red;
                border-bottom: 1px solid #000000;
                border-radius: 10px;
                border-bottom-left-radius:0;
                border-bottom-right-radius:0;
                &_type{
                    padding-top: 22px;
                    padding-left: 41px;
                    font-family: $inter;
                    font-size: 24px;
                    font-weight: 600;
                    color: rgba(24, 33, 109, 1);
                }
                &_price{
                    padding-top: 10px;
                    padding-left: 41px;
                    font-family: $inter;
                    font-size: 36px;
                    font-weight: 600;
                    color: rgba(24, 33, 109, 1);
                }
            }
            &_advantages{
                width: 249px;
                height: 269px;
                background: tomato;
                margin-top: 39px;
                margin-left: 41px;
               &_number{
                display: flex;
                align-items: center;
                margin-top: 17px;
                &_circleTick{
                    width: 22px;
                    height: 22.39px;
                }
                &_text{
                    font-family: $poppins;
                    font-size: 17px;
                    font-weight: 400;
                    color:rgba(24, 33, 109, 1);
                }
               }
               &_security{
                display: flex;
                align-items: center;
                margin-top: 17px;
                &_circleTick{
                    width: 22px;
                    height: 22.39px;
                }
                &_text{
                    font-family: $poppins;
                    font-size: 17px;
                    font-weight: 400;
                    color:rgba(24, 33, 109, 1);
                }
               }
               &_demonstration{
                display: flex;
                align-items: center;
                margin-top: 17px;
                &_circleTick{
                    width: 22px;
                    height: 22.39px;
                }
                &_text{
                    font-family: $poppins;
                    font-size: 17px;
                    font-weight: 400;
                    color:rgba(24, 33, 109, 1);
                }
               }
               &_DesktopMobile{
                display: flex;
                align-items: center;
                margin-top: 17px;
                &_circleTick{
                    width: 22px;
                    height: 22.39px;
                }
                &_text{
                    font-family: $poppins;
                    font-size: 17px;
                    font-weight: 400;
                    color:rgba(24, 33, 109, 1);
                }
               }
               &_limitMetting{
                display: flex;
                align-items: center;
                margin-top: 17px;
                &_circleTick{
                    width: 22px;
                    height: 22.39px;
                }
                &_text{
                    font-family: $poppins;
                    font-size: 17px;
                    font-weight: 400;
                    color:rgba(24, 33, 109, 1);
                }
               }
               &_Recording{
                display: flex;
                align-items: center;
                margin-top: 17px;
                &_circleTick{
                    width: 22px;
                    height: 22.39px;
                }
                &_text{
                    font-family: $poppins;
                    font-size: 17px;
                    font-weight: 400;
                    color: #18216D;
                    opacity: 0.5;
                }
               }
               &_Single{
                display: flex;
                align-items: center;
                margin-top: 17px;
                &_circleTick{
                    width: 22px;
                    height: 22.39px;
                }
                &_text{
                    font-family: $poppins;
                    font-size: 17px;
                    font-weight: 400;
                    color: #18216D;
                    opacity: 0.5;
                }
               }
            }
            &_btn{
                width: 181px;
                height: 52px;
                margin-left: 41px;
                margin-top: 40px;
                background: #005eec10;
                border-radius: 6px;
                font-family: $inter;
                font-size: 16px;
                font-weight: 400;
                border: none;
                transition-duration: 0.2s;

                &:hover{
                    font-family: $inter;
                    font-size: 16px;
                    font-weight: 400;
                    color: #FFFF;
                    background: rgba(0, 95, 236, 1);
                    transition-duration: 0.3s;
                }
            }
        }
        &_Pro{
            Width:355px;
            Height:620px;
            background: rgb(139, 81, 34);
            border: 1px solid #232629;
            border-radius: 10px;
            &_header{
                width: 355px;
                height: 160px;
                background-color: red;
                border-bottom: 1px solid #000000;
                border-radius: 10px;
                border-bottom-left-radius:0;
                border-bottom-right-radius:0;
                &_type{
                    padding-top: 22px;
                    padding-left: 41px;
                    font-family: $inter;
                    font-size: 24px;
                    font-weight: 600;
                    color: rgba(24, 33, 109, 1);
                }
                &_price{
                    padding-top: 10px;
                    padding-left: 41px;
                    font-family: $inter;
                    font-size: 36px;
                    font-weight: 600;
                    color: rgba(24, 33, 109, 1);
                }
            }
            &_advantages{
                width: 249px;
                height: 269px;
                background: tomato;
                margin-top: 39px;
                margin-left: 41px;
               &_number{
                display: flex;
                align-items: center;
                margin-top: 17px;
                &_circleTick{
                    width: 22px;
                    height: 22.39px;
                }
                &_text{
                    font-family: $poppins;
                    font-size: 17px;
                    font-weight: 400;
                    color:rgba(24, 33, 109, 1);
                }
               }
               &_security{
                display: flex;
                align-items: center;
                margin-top: 17px;
                &_circleTick{
                    width: 22px;
                    height: 22.39px;
                }
                &_text{
                    font-family: $poppins;
                    font-size: 17px;
                    font-weight: 400;
                    color:rgba(24, 33, 109, 1);
                }
               }
               &_demonstration{
                display: flex;
                align-items: center;
                margin-top: 17px;
                &_circleTick{
                    width: 22px;
                    height: 22.39px;
                }
                &_text{
                    font-family: $poppins;
                    font-size: 17px;
                    font-weight: 400;
                    color:rgba(24, 33, 109, 1);
                }
               }
               &_DesktopMobile{
                display: flex;
                align-items: center;
                margin-top: 17px;
                &_circleTick{
                    width: 22px;
                    height: 22.39px;
                }
                &_text{
                    font-family: $poppins;
                    font-size: 17px;
                    font-weight: 400;
                    color:rgba(24, 33, 109, 1);
                }
               }
               &_limitMetting{
                display: flex;
                align-items: center;
                margin-top: 17px;
                &_circleTick{
                    width: 22px;
                    height: 22.39px;
                }
                &_text{
                    font-family: $poppins;
                    font-size: 17px;
                    font-weight: 400;
                    color:rgba(24, 33, 109, 1);
                }
               }
               &_Recording{
                display: flex;
                align-items: center;
                margin-top: 17px;
                &_circleTick{
                    width: 22px;
                    height: 22.39px;
                }
                &_text{
                    font-family: $poppins;
                    font-size: 17px;
                    font-weight: 400;
                    color: #18216D;
                }
               }
               &_Single{
                display: flex;
                align-items: center;
                margin-top: 17px;
                &_circleTick{
                    width: 22px;
                    height: 22.39px;
                }
                &_text{
                    font-family: $poppins;
                    font-size: 17px;
                    font-weight: 400;
                    color: #18216D;
                    opacity: 0.5;
                }
               }
            }
            &_btn{
                width: 181px;
                height: 52px;
                margin-left: 41px;
                margin-top: 40px;
                background: #005eec10;
                border: none;
                border-radius: 6px;
                font-family: $inter;
                font-size: 16px;
                font-weight: 400;
                transition-duration: 0.2s;

                &:hover{
                    font-family: $inter;
                    font-size: 16px;
                    font-weight: 400;
                    color: #FFFF;
                    background: rgba(0, 95, 236, 1);
                    transition-duration: 0.3s;
                }
            }
        }
        &_Business{
            Width:355px;
            Height:620px;
            background: rgb(34, 139, 59);
            border: 1px solid #232629;
            border-radius: 10px;
            &_header{
                width: 355px;
                height: 160px;
                background-color: red;
                border-bottom: 1px solid #000000;
                border-radius: 10px;
                border-bottom-left-radius:0;
                border-bottom-right-radius:0;
                &_type{
                    padding-top: 22px;
                    padding-left: 41px;
                    font-family: $inter;
                    font-size: 24px;
                    font-weight: 600;
                    color: rgba(24, 33, 109, 1);
                }
                &_price{
                    padding-top: 10px;
                    padding-left: 41px;
                    font-family: $inter;
                    font-size: 36px;
                    font-weight: 600;
                    color: rgba(24, 33, 109, 1);
                }
            }
            &_advantages{
                width: 249px;
                height: 269px;
                background: tomato;
                margin-top: 39px;
                margin-left: 41px;
               &_number{
                display: flex;
                align-items: center;
                margin-top: 17px;
                &_circleTick{
                    width: 22px;
                    height: 22.39px;
                }
                &_text{
                    font-family: $poppins;
                    font-size: 17px;
                    font-weight: 400;
                    color:rgba(24, 33, 109, 1);
                }
               }
               &_security{
                display: flex;
                align-items: center;
                margin-top: 17px;
                &_circleTick{
                    width: 22px;
                    height: 22.39px;
                }
                &_text{
                    font-family: $poppins;
                    font-size: 17px;
                    font-weight: 400;
                    color:rgba(24, 33, 109, 1);
                }
               }
               &_demonstration{
                display: flex;
                align-items: center;
                margin-top: 17px;
                &_circleTick{
                    width: 22px;
                    height: 22.39px;
                }
                &_text{
                    font-family: $poppins;
                    font-size: 17px;
                    font-weight: 400;
                    color:rgba(24, 33, 109, 1);
                }
               }
               &_DesktopMobile{
                display: flex;
                align-items: center;
                margin-top: 17px;
                &_circleTick{
                    width: 22px;
                    height: 22.39px;
                }
                &_text{
                    font-family: $poppins;
                    font-size: 17px;
                    font-weight: 400;
                    color:rgba(24, 33, 109, 1);
                }
               }
               &_limitMetting{
                display: flex;
                align-items: center;
                margin-top: 17px;
                &_circleTick{
                    width: 22px;
                    height: 22.39px;
                }
                &_text{
                    font-family: $poppins;
                    font-size: 17px;
                    font-weight: 400;
                    color:rgba(24, 33, 109, 1);
                }
               }
               &_Recording{
                display: flex;
                align-items: center;
                margin-top: 17px;
                &_circleTick{
                    width: 22px;
                    height: 22.39px;
                }
                &_text{
                    font-family: $poppins;
                    font-size: 17px;
                    font-weight: 400;
                    color: #18216D;
                }
               }
               &_Single{
                display: flex;
                align-items: center;
                margin-top: 17px;
                &_circleTick{
                    width: 22px;
                    height: 22.39px;
                }
                &_text{
                    font-family: $poppins;
                    font-size: 17px;
                    font-weight: 400;
                    color: #18216D;
                }
               }
            }
            &_btn{
                width: 181px;
                height: 52px;
                margin-left: 41px;
                margin-top: 40px;
                background: #005eec10;
                border: none;
                border-radius: 6px;
                font-family: $inter;
                font-size: 16px;
                font-weight: 400;
                transition-duration: 0.2s;

                &:hover{
                    font-family: $inter;
                    font-size: 16px;
                    font-weight: 400;
                    color: #FFFF;
                    background: rgba(0, 95, 236, 1);
                    transition-duration: 0.3s;
                }
            }
        } 
    }
    &_poinContainer{
        z-index: -1;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 122px;
        height: 118px;
        column-gap: 10px;
        top: -1187px;
        left: -69px;
        &_item{
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #005eec10
        }
    }
    &_TestimonialContainer{
        display: flex;
        width: 1168px;
        height: 450px;
        background: gold;
        justify-content: space-between;
        margin-top: 55px;
        &_left{
            width: 616px;
            background: salmon;
            margin-top: 55px;
            &_feedback{
                font-family: $inter;
                Weight:500;
                font-size: 24px;
                Style:italic;
                line-height: 44px;
            }
            &_personalData{
                width: 130px;
                background: gray;
                column-gap: 6px;
                margin-top: 33px;
            }
            &_autor{
                font-family: $inter;
                font-weight: 500;
                font-size: 26px;
                color:rgba(24, 33, 109, 1);
            }
            &_data{
                font-family: $inter;
                font-size: 16px;
                font-weight: 400;
                color: #18206d60;
                padding-top: 6px;
            }
        }
        &_right{
            display: flex;
            width: 447.59px;
            height: 450px;
            background: darkcyan;
            justify-content: center;
        }
    }
    &_text{
        font-family: $inter;
        font-size: 48px;
        font-weight: 600;
        color: rgba(24, 33, 109, 1);
    }
}
.footer{
    display: flex;
    width: 1196px;
    height: 257px;
    background: green;
    margin: 0 auto;
    margin-top: 120px;
    justify-content: space-between;
    &_download{
        width: 248px;
        height: 166px;
        background: #005eec8a;
        &_logo{
            width: 158.4px;
            height: 45px;
            &_footerLogo{
                width: 100%;
                height: 100%;
            }
        }
        &_textContainer{
            font-family: $inter;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #18206d90;
            margin-top: 19px;
        }
        &_btns{
            display: flex;
            width: 215px;
            height: 30px;
            background: firebrick;
            margin-top: 20px;
            justify-content: space-between;
            &_android{
                display: flex;
                Width:100px;
                Height:30px;
                cursor: pointer;
                border: none;
                background: rgba(24, 33, 109, 1);
                border-radius: 5px;
                &_img{
                    width: 17.07px;
                    height: 19.07px;
                }
                &_text{
                    width:62.67px;
                    height:20px;

                }
            }
            &_ios{
                display: flex;
                cursor: pointer;
                Width:100px;
                Height:30px;
                background:rgba(24, 33, 109, 1);
                border-radius: 5px;
                align-items: center;
                padding-left: 8.94px;
                column-gap: 6.67px;
                &_img{
                    Width:15.59px;
                    Height:19.16px;
                }
                &_texts{
                    display: flex;
                    align-items: center;
                    width: 59.88px;
                    height: 21.66px;
                    background: firebrick;
                    padding-top: 5px;
                    &_img{
                        width: 59.88px;
                        height: 21.66px;
                    }
                }
            }
        }
    }
    &_Resources{
        width: 113px;
        height: 257px;
        background: rgb(12, 206, 232);
    }
    &_products{
        width: 117px;
        height: 257px;
        background: greenyellow;
    }
    &_more{
        width: 68px;
        height:257px;
        background: hotpink;
    }
    &_contact{
        width: 300px;
        height: 120px;
        background: darkmagenta;
    }
}
span{
    color:rgba(109, 109, 109, 1);
}