.header {
  display: flex;
  width: 1400px;
  height: 52px;
  background: saddlebrown;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.header_icondiv {
  display: flex;
  align-items: center;
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.header_icondiv_svg {
  width: 32px;
  height: 32px;
}
.header_icondiv_name {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.header_linkdiv {
  width: 507px;
  height: 20px;
  background: violet;
}
.header_linkdiv_nav {
  display: flex;
  justify-content: space-between;
}
.header_linkdiv_nav_link {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 500;
  font-size: 18px;
  color: rgb(24, 33, 109);
}
.header_btns {
  display: flex;
  -moz-column-gap: 45px;
       column-gap: 45px;
  height: 100%;
}
.header_btns_item {
  cursor: pointer;
  display: flex;
  width: 136px;
  height: 52px;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.blue {
  background: rgb(24, 33, 109);
  color: white;
  border-radius: 6px;
}

.nobg {
  color: rgb(24, 33, 109);
}

.main {
  background: darkmagenta;
  width: 1188px;
  margin: 0 auto;
}
.main_left {
  width: 498px;
  height: 292px;
  background: darkgreen;
  align-items: center;
}
.main_left_title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 48px;
}
.main_left_subtitle {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  padding-top: 16px;
}
.main_left_btn {
  width: 180px;
  height: 66px;
  margin-top: 34px;
  background: rgb(0, 236, 208);
  border-radius: 6px;
  border: none;
  color: rgb(24, 33, 109);
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.main_right {
  height: 518.35px;
  background: saddlebrown;
}
.main_right_img {
  position: absolute;
  right: 165px;
  width: 786px;
  height: 518.35px;
}
.main_imgAndText {
  display: flex;
  width: 1189px;
  background: darkorange;
  margin: 0 auto;
  margin-top: 50px;
  align-items: center;
}
.main_stats {
  width: 1107px;
  height: 150px;
  background: tomato;
  display: flex;
  justify-content: space-between;
}
.main_stats_left {
  Width: 494px;
  Height: 150px;
}
.main_stats_left_text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: rgb(24, 33, 109);
  line-height: 50px;
}
.main_stats_right {
  display: flex;
  width: 336px;
  height: 142px;
  background: darkgoldenrod;
  justify-content: space-between;
}
.main_stats_right_download {
  width: 137px;
  height: 134px;
  background: yellow;
}
.main_stats_right_download_title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: rgb(24, 33, 109);
}
.main_stats_right_download_svg {
  padding-top: 10px;
  width: 16px;
  height: 14px;
}
.main_stats_right_download_subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-top: 12px;
}
.main_stats_right_rating {
  width: 107.28px;
  height: 134px;
  background: blue;
}
.main_stats_right_rating_title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: rgb(24, 33, 109);
}
.main_stats_right_rating_svg {
  margin-top: 8.04px;
  Width: 16.69px;
  Height: 15.9px;
}
.main_stats_right_rating_subtitle {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(24, 33, 109);
  padding-top: 12.04px;
}
.main_partners {
  display: flex;
  width: 1110px;
  height: 34.88px;
  background: burlywood;
  margin-left: 30px;
  align-items: center;
  -moz-column-gap: 79.73px;
       column-gap: 79.73px;
}
.main_partners_airbnblogo {
  width: 112.12px;
  height: 34.88px;
}
.main_partners_layer2 {
  Width: 104.65px;
  Height: 29.91px;
}
.main_partners_google {
  width: 104.65px;
  height: 34.88px;
}
.main_partners_microsoft {
  width: 151.99px;
  height: 32.39px;
}
.main_partners_fedex {
  Width: 99.54px;
  Height: 30.06px;
}
.main_features {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 48px;
  padding-top: 130.12px;
}
.main_subfeature {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  Width: 542px;
  text-align: center;
  margin: 0 auto;
  line-height: 30px;
  padding-top: 12px;
}
.main_advantages {
  display: flex;
  width: 1120px;
  background: rgb(100, 5, 0);
  -moz-column-gap: 80px;
       column-gap: 80px;
}
.main_advantages_price {
  width: 320px;
  height: 267px;
  background: firebrick;
}
.main_advantages_price_SVG {
  width: 72px;
  height: 72px;
}
.main_advantages_price_title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding-top: 28px;
  color: rgb(24, 33, 109);
}
.main_advantages_price_subtitle {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: gray;
  padding-top: 14px;
}
.main_advantages_price_more {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding-top: 30px;
  color: rgb(24, 33, 109);
}
.main_advantages_Collaboration {
  width: 320px;
  background: rgb(139, 132, 0);
}
.main_advantages_Collaboration_medalsvg {
  width: 55.58px;
  height: 72px;
}
.main_advantages_Collaboration_medalsvg2 {
  width: 71.15px;
  height: 72px;
}
.main_advantages_Collaboration_title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: rgb(24, 33, 109);
  padding-top: 28px;
}
.main_advantages_Collaboration_subtitle {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: gray;
}
.main_advantages_Collaboration_more {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgb(24, 33, 109);
  padding-top: 30px;
}
.main_download {
  display: flex;
  width: 100%;
  height: 593px;
  background: #005FEC;
  margin-top: 130px;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.main_download_leftContent {
  width: 487px;
  height: 307px;
  background: tomato;
}
.main_download_leftContent_title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
}
.main_download_leftContent_subtitle {
  padding-top: 15px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.main_download_leftContent_btn {
  cursor: pointer;
  width: 160px;
  height: 52px;
  border-radius: 6px;
  border: none;
  background: #a9ec00;
  color: #FFFFFF;
  margin-top: 40px;
}
.main_download_rightContent {
  width: 690px;
  height: 437px;
}
.main_freeTrall {
  display: flex;
  width: 1091px;
  height: 100%;
  background: salmon;
}
.main_freeTrall_contentleft {
  width: 400px;
  height: 450px;
  background: url(/img/Group\ 862.png);
}
.main_freeTrall_contentleft_WeeklyMettingBlock {
  position: absolute;
  width: 184px;
  height: 150px;
  background: #da3535;
  box-shadow: -4px 8px 20px rgba(24, 33, 109, 0.05);
  border-radius: 6px;
  margin-top: 358px;
  margin-left: 317px;
  text-align: center;
}
.main_freeTrall_contentleft_WeeklyMettingBlock_WeeklyMettingText {
  padding-top: 18px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.main_freeTrall_contentleft_WeeklyMettingBlock_userPannel {
  display: flex;
  width: 132px;
  height: 36px;
  margin: 0 auto;
  margin-top: 8px;
}
.main_freeTrall_contentleft_WeeklyMettingBlock_userPannel_circle {
  width: 36px;
  height: 36px;
  background: darkblue;
  border-radius: 50%;
}
.main_freeTrall_contentleft_WeeklyMettingBlock_btn {
  width: 100px;
  height: 30px;
  border: none;
  background: #DAE9FF;
  color: rgb(0, 95, 236);
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-top: 23px;
}
.main_freeTrall_contentleft_img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.main_freeTrall_contentRight {
  width: 496px;
  height: 444px;
  background: saddlebrown;
  margin-left: 196px;
}/*# sourceMappingURL=style.css.map */