.header {
  display: flex;
  width: 1400px;
  height: 52px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.header_icondiv {
  display: flex;
  align-items: center;
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.header_icondiv_svg {
  width: 32px;
  height: 32px;
}
.header_icondiv_name {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.header_linkdiv {
  width: 507px;
  height: 20px;
}
.header_linkdiv_nav {
  display: flex;
  justify-content: space-between;
}
.header_linkdiv_nav_link {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 500;
  font-size: 18px;
  color: rgb(24, 33, 109);
}
.header_btns {
  display: flex;
  -moz-column-gap: 45px;
       column-gap: 45px;
  height: 100%;
}
.header_btns_item {
  cursor: pointer;
  display: flex;
  width: 136px;
  height: 52px;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.blue {
  background: rgb(24, 33, 109);
  color: white;
  border-radius: 6px;
}

.nobg {
  color: rgb(24, 33, 109);
}

.main {
  width: 1196px;
  margin: 0 auto;
}
.main_left {
  width: 498px;
  height: 292px;
  align-items: center;
}
.main_left_title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 48px;
}
.main_left_subtitle {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  padding-top: 16px;
}
.main_left_btn {
  width: 180px;
  height: 66px;
  margin-top: 34px;
  background: rgb(0, 236, 208);
  border-radius: 6px;
  border: none;
  color: rgb(24, 33, 109);
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.main_right {
  height: 518.35px;
  background: saddlebrown;
}
.main_right_img {
  position: absolute;
  right: 165px;
  width: 786px;
  height: 518.35px;
}
.main_imgAndText {
  display: flex;
  width: 1189px;
  margin: 0 auto;
  margin-top: 50px;
  align-items: center;
}
.main_stats {
  width: 1107px;
  height: 150px;
  display: flex;
  justify-content: space-between;
}
.main_stats_left {
  Width: 494px;
  Height: 150px;
}
.main_stats_left_text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: rgb(24, 33, 109);
  line-height: 50px;
}
.main_stats_right {
  display: flex;
  width: 336px;
  height: 142px;
  justify-content: space-between;
}
.main_stats_right_download {
  width: 137px;
  height: 134px;
}
.main_stats_right_download_title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: rgb(24, 33, 109);
}
.main_stats_right_download_svg {
  padding-top: 10px;
  width: 16px;
  height: 14px;
}
.main_stats_right_download_subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-top: 12px;
}
.main_stats_right_rating {
  width: 107.28px;
  height: 134px;
}
.main_stats_right_rating_title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: rgb(24, 33, 109);
}
.main_stats_right_rating_svg {
  margin-top: 8.04px;
  Width: 16.69px;
  Height: 15.9px;
}
.main_stats_right_rating_subtitle {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(24, 33, 109);
  padding-top: 12.04px;
}
.main_partners {
  display: flex;
  width: 1110px;
  height: 34.88px;
  margin-left: 30px;
  align-items: center;
  -moz-column-gap: 79.73px;
       column-gap: 79.73px;
}
.main_partners_airbnblogo {
  width: 112.12px;
  height: 34.88px;
}
.main_partners_layer2 {
  Width: 104.65px;
  Height: 29.91px;
}
.main_partners_google {
  width: 104.65px;
  height: 34.88px;
}
.main_partners_microsoft {
  width: 151.99px;
  height: 32.39px;
}
.main_partners_fedex {
  Width: 99.54px;
  Height: 30.06px;
}
.main_features {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 48px;
  padding-top: 130.12px;
}
.main_subfeature {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  Width: 542px;
  text-align: center;
  margin: 0 auto;
  line-height: 30px;
  padding-top: 12px;
}
.main_advantages {
  display: flex;
  width: 1120px;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
.main_advantages_price {
  width: 320px;
  height: 267px;
}
.main_advantages_price_SVG {
  width: 72px;
  height: 72px;
}
.main_advantages_price_title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding-top: 28px;
  color: rgb(24, 33, 109);
}
.main_advantages_price_subtitle {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(24, 32, 109, 0.3764705882);
  padding-top: 14px;
}
.main_advantages_price_more {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding-top: 30px;
  color: rgb(24, 33, 109);
}
.main_advantages_Collaboration {
  width: 320px;
}
.main_advantages_Collaboration_medalsvg {
  width: 55.58px;
  height: 72px;
}
.main_advantages_Collaboration_medalsvg2 {
  width: 71.15px;
  height: 72px;
}
.main_advantages_Collaboration_title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: rgb(24, 33, 109);
  padding-top: 28px;
}
.main_advantages_Collaboration_subtitle {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(24, 32, 109, 0.3764705882);
}
.main_advantages_Collaboration_more {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgb(24, 33, 109);
  padding-top: 30px;
}
.main_download {
  display: flex;
  width: 100%;
  height: 593px;
  background: rgba(0, 102, 255, 0.0196078431);
  margin-top: 130px;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.main_download_leftContent {
  width: 487px;
  height: 307px;
}
.main_download_leftContent_title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
}
.main_download_leftContent_subtitle {
  padding-top: 15px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(24, 32, 109, 0.5019607843);
}
.main_download_leftContent_btn {
  cursor: pointer;
  width: 160px;
  height: 52px;
  border-radius: 6px;
  border: none;
  background: #005FEC;
  color: #FFFFFF;
  margin-top: 40px;
}
.main_download_rightContent {
  width: 690px;
  height: 437px;
}
.main_freeTrall {
  display: flex;
  width: 1091px;
  height: 508px;
}
.main_freeTrall_contentleft {
  width: 400px;
  height: 450px;
  background: url(/img/Group\ 862.png);
}
.main_freeTrall_contentleft_WeeklyMettingBlock {
  position: absolute;
  width: 184px;
  height: 150px;
  background: #da3535;
  border-radius: 6px;
  margin-top: 358px;
  margin-left: 317px;
  text-align: center;
}
.main_freeTrall_contentleft_WeeklyMettingBlock_WeeklyMettingText {
  padding-top: 18px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.main_freeTrall_contentleft_WeeklyMettingBlock_userPannel {
  display: flex;
  position: relative;
  width: 132px;
  height: 36px;
  margin: 0 auto;
  margin-top: 8px;
}
.main_freeTrall_contentleft_WeeklyMettingBlock_userPannel_circle {
  width: 36px;
  height: 36px;
  border: 1.5px solid #d1d1d1;
  border-radius: 50%;
}
.main_freeTrall_contentleft_WeeklyMettingBlock_userPannel_circle_absolute_1 {
  position: absolute;
  left: 25px;
}
.main_freeTrall_contentleft_WeeklyMettingBlock_userPannel_circle_absolute_2 {
  position: absolute;
  left: 50px;
}
.main_freeTrall_contentleft_WeeklyMettingBlock_userPannel_circle_absolute_3 {
  position: absolute;
  left: 75px;
}
.main_freeTrall_contentleft_WeeklyMettingBlock_userPannel_circle_absolute_4 {
  position: absolute;
  left: 100px;
}
.main_freeTrall_contentleft_WeeklyMettingBlock_btn {
  width: 100px;
  height: 30px;
  border: none;
  background: #DAE9FF;
  color: rgb(0, 95, 236);
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-top: 23px;
}
.main_freeTrall_contentleft_img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.main_freeTrall_contentRight {
  width: 496px;
  height: 444px;
  margin-left: 196px;
}
.main_freeTrall_contentRight_title {
  width: 496px;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  color: rgb(24, 33, 109);
}
.main_freeTrall_contentRight_subtitle {
  width: 446px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-top: 16px;
  color: #18216D;
  line-height: 30px;
}
.main_freeTrall_contentRight_advantages {
  width: 309.98px;
  height: 107.97px;
  margin-top: 30px;
}
.main_freeTrall_contentRight_advantages_faster {
  display: flex;
  align-items: center;
  -moz-column-gap: 16.01px;
       column-gap: 16.01px;
}
.main_freeTrall_contentRight_advantages_faster_tick {
  width: 19.97px;
  height: 19.97px;
}
.main_freeTrall_contentRight_advantages_faster_text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgb(24, 33, 109);
}
.main_freeTrall_contentRight_advantages_productivity {
  display: flex;
  align-items: center;
  -moz-column-gap: 16.01px;
       column-gap: 16.01px;
  margin-top: 24.03px;
}
.main_freeTrall_contentRight_advantages_productivity_tick {
  width: 19.97px;
  height: 19.97px;
}
.main_freeTrall_contentRight_advantages_productivity_text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgb(24, 33, 109);
}
.main_freeTrall_contentRight_advantages_relationships {
  display: flex;
  align-items: center;
  -moz-column-gap: 16.01px;
       column-gap: 16.01px;
  margin-top: 24.03px;
}
.main_freeTrall_contentRight_advantages_relationships_tick {
  width: 19.97px;
  height: 19.97px;
}
.main_freeTrall_contentRight_advantages_relationships_text {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgb(24, 33, 109);
}
.main_freeTrall_contentRight_btn {
  width: 164px;
  height: 54px;
  background: #005FEC;
  border-radius: 6px;
  border: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 50.03px;
}
.main_plantext {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 600;
  padding-top: 131px;
}
.main_subtext {
  display: flex;
  margin: 0 auto;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 542px;
  height: 60px;
  padding-top: 20px;
}
.main_duration {
  display: flex;
  width: 272px;
  height: 60px;
  margin: 0 auto;
  border-radius: 6px;
  background: rgba(0, 94, 236, 0.062745098);
  align-items: center;
  justify-content: flex-start;
  padding: 0 6px;
}
.main_duration_Annually {
  width: 135px;
  height: 48px;
  background: none;
  border: none;
  cursor: pointer;
}
.main_duration_Annually:hover {
  background: #FFFFFF;
  border-radius: 6px;
  color: rgb(0, 95, 236);
  transition-duration: 0.3s;
}
.main_duration_Annually:focus {
  background: #FFFFFF;
  border-radius: 6px;
  color: rgb(0, 95, 236);
  transition-duration: 0.2s;
}
.main_duration_Monthly {
  width: 135px;
  height: 48px;
  background: none;
  border: none;
  cursor: pointer;
}
.main_duration_Monthly:hover {
  background: #FFFFFF;
  border-radius: 6px;
  color: rgb(0, 95, 236);
  transition-duration: 0.3s;
}
.main_duration_Monthly:focus {
  background: #FFFFFF;
  border-radius: 6px;
  color: rgb(0, 95, 236);
  transition-duration: 0.2s;
}
.main_pricePlan {
  display: flex;
  width: 1155px;
  height: 620px;
  margin-top: 80px;
  -moz-column-gap: 45px;
       column-gap: 45px;
}
.main_pricePlan_Basic {
  Width: 355px;
  Height: 620px;
  border: 1px solid #232629;
  border-radius: 10px;
}
.main_pricePlan_Basic_header {
  width: 355px;
  height: 160px;
  border-bottom: 1px solid #000000;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.main_pricePlan_Basic_header_type {
  padding-top: 22px;
  padding-left: 41px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: rgb(24, 33, 109);
}
.main_pricePlan_Basic_header_price {
  padding-top: 10px;
  padding-left: 41px;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: rgb(24, 33, 109);
}
.main_pricePlan_Basic_advantages {
  width: 249px;
  height: 269px;
  margin-top: 39px;
  margin-left: 41px;
}
.main_pricePlan_Basic_advantages_number {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main_pricePlan_Basic_advantages_number_circleTick {
  width: 22px;
  height: 22.39px;
}
.main_pricePlan_Basic_advantages_number_text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: rgb(24, 33, 109);
}
.main_pricePlan_Basic_advantages_security {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main_pricePlan_Basic_advantages_security_circleTick {
  width: 22px;
  height: 22.39px;
}
.main_pricePlan_Basic_advantages_security_text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: rgb(24, 33, 109);
}
.main_pricePlan_Basic_advantages_demonstration {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main_pricePlan_Basic_advantages_demonstration_circleTick {
  width: 22px;
  height: 22.39px;
}
.main_pricePlan_Basic_advantages_demonstration_text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: rgb(24, 33, 109);
}
.main_pricePlan_Basic_advantages_DesktopMobile {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main_pricePlan_Basic_advantages_DesktopMobile_circleTick {
  width: 22px;
  height: 22.39px;
}
.main_pricePlan_Basic_advantages_DesktopMobile_text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: rgb(24, 33, 109);
}
.main_pricePlan_Basic_advantages_limitMetting {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main_pricePlan_Basic_advantages_limitMetting_circleTick {
  width: 22px;
  height: 22.39px;
}
.main_pricePlan_Basic_advantages_limitMetting_text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: rgb(24, 33, 109);
}
.main_pricePlan_Basic_advantages_Recording {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main_pricePlan_Basic_advantages_Recording_circleTick {
  width: 22px;
  height: 22.39px;
}
.main_pricePlan_Basic_advantages_Recording_text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #18216D;
  opacity: 0.5;
}
.main_pricePlan_Basic_advantages_Single {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main_pricePlan_Basic_advantages_Single_circleTick {
  width: 22px;
  height: 22.39px;
}
.main_pricePlan_Basic_advantages_Single_text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #18216D;
  opacity: 0.5;
}
.main_pricePlan_Basic_btn {
  width: 181px;
  height: 52px;
  margin-left: 41px;
  margin-top: 40px;
  background: rgba(0, 94, 236, 0.062745098);
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: none;
  transition-duration: 0.2s;
}
.main_pricePlan_Basic_btn:hover {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background: rgb(0, 95, 236);
  transition-duration: 0.3s;
}
.main_pricePlan_Pro {
  Width: 355px;
  Height: 620px;
  border: 1px solid #232629;
  border-radius: 10px;
}
.main_pricePlan_Pro_header {
  width: 355px;
  height: 160px;
  border-bottom: 1px solid #000000;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.main_pricePlan_Pro_header_type {
  padding-top: 22px;
  padding-left: 41px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: rgb(24, 33, 109);
}
.main_pricePlan_Pro_header_price {
  padding-top: 10px;
  padding-left: 41px;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: rgb(24, 33, 109);
}
.main_pricePlan_Pro_advantages {
  width: 249px;
  height: 269px;
  margin-top: 39px;
  margin-left: 41px;
}
.main_pricePlan_Pro_advantages_number {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main_pricePlan_Pro_advantages_number_circleTick {
  width: 22px;
  height: 22.39px;
}
.main_pricePlan_Pro_advantages_number_text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: rgb(24, 33, 109);
}
.main_pricePlan_Pro_advantages_security {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main_pricePlan_Pro_advantages_security_circleTick {
  width: 22px;
  height: 22.39px;
}
.main_pricePlan_Pro_advantages_security_text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: rgb(24, 33, 109);
}
.main_pricePlan_Pro_advantages_demonstration {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main_pricePlan_Pro_advantages_demonstration_circleTick {
  width: 22px;
  height: 22.39px;
}
.main_pricePlan_Pro_advantages_demonstration_text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: rgb(24, 33, 109);
}
.main_pricePlan_Pro_advantages_DesktopMobile {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main_pricePlan_Pro_advantages_DesktopMobile_circleTick {
  width: 22px;
  height: 22.39px;
}
.main_pricePlan_Pro_advantages_DesktopMobile_text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: rgb(24, 33, 109);
}
.main_pricePlan_Pro_advantages_limitMetting {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main_pricePlan_Pro_advantages_limitMetting_circleTick {
  width: 22px;
  height: 22.39px;
}
.main_pricePlan_Pro_advantages_limitMetting_text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: rgb(24, 33, 109);
}
.main_pricePlan_Pro_advantages_Recording {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main_pricePlan_Pro_advantages_Recording_circleTick {
  width: 22px;
  height: 22.39px;
}
.main_pricePlan_Pro_advantages_Recording_text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #18216D;
}
.main_pricePlan_Pro_advantages_Single {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main_pricePlan_Pro_advantages_Single_circleTick {
  width: 22px;
  height: 22.39px;
}
.main_pricePlan_Pro_advantages_Single_text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #18216D;
  opacity: 0.5;
}
.main_pricePlan_Pro_btn {
  width: 181px;
  height: 52px;
  margin-left: 41px;
  margin-top: 40px;
  background: rgba(0, 94, 236, 0.062745098);
  border: none;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition-duration: 0.2s;
}
.main_pricePlan_Pro_btn:hover {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background: rgb(0, 95, 236);
  transition-duration: 0.3s;
}
.main_pricePlan_Business {
  Width: 355px;
  Height: 620px;
  border: 1px solid #232629;
  border-radius: 10px;
}
.main_pricePlan_Business_header {
  width: 355px;
  height: 160px;
  border-bottom: 1px solid #000000;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.main_pricePlan_Business_header_type {
  padding-top: 22px;
  padding-left: 41px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: rgb(24, 33, 109);
}
.main_pricePlan_Business_header_price {
  padding-top: 10px;
  padding-left: 41px;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: rgb(24, 33, 109);
}
.main_pricePlan_Business_advantages {
  width: 249px;
  height: 269px;
  margin-top: 39px;
  margin-left: 41px;
}
.main_pricePlan_Business_advantages_number {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main_pricePlan_Business_advantages_number_circleTick {
  width: 22px;
  height: 22.39px;
}
.main_pricePlan_Business_advantages_number_text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: rgb(24, 33, 109);
}
.main_pricePlan_Business_advantages_security {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main_pricePlan_Business_advantages_security_circleTick {
  width: 22px;
  height: 22.39px;
}
.main_pricePlan_Business_advantages_security_text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: rgb(24, 33, 109);
}
.main_pricePlan_Business_advantages_demonstration {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main_pricePlan_Business_advantages_demonstration_circleTick {
  width: 22px;
  height: 22.39px;
}
.main_pricePlan_Business_advantages_demonstration_text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: rgb(24, 33, 109);
}
.main_pricePlan_Business_advantages_DesktopMobile {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main_pricePlan_Business_advantages_DesktopMobile_circleTick {
  width: 22px;
  height: 22.39px;
}
.main_pricePlan_Business_advantages_DesktopMobile_text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: rgb(24, 33, 109);
}
.main_pricePlan_Business_advantages_limitMetting {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main_pricePlan_Business_advantages_limitMetting_circleTick {
  width: 22px;
  height: 22.39px;
}
.main_pricePlan_Business_advantages_limitMetting_text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: rgb(24, 33, 109);
}
.main_pricePlan_Business_advantages_Recording {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main_pricePlan_Business_advantages_Recording_circleTick {
  width: 22px;
  height: 22.39px;
}
.main_pricePlan_Business_advantages_Recording_text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #18216D;
}
.main_pricePlan_Business_advantages_Single {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.main_pricePlan_Business_advantages_Single_circleTick {
  width: 22px;
  height: 22.39px;
}
.main_pricePlan_Business_advantages_Single_text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #18216D;
}
.main_pricePlan_Business_btn {
  width: 181px;
  height: 52px;
  margin-left: 41px;
  margin-top: 40px;
  background: rgba(0, 94, 236, 0.062745098);
  border: none;
  border-radius: 6px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition-duration: 0.2s;
}
.main_pricePlan_Business_btn:hover {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background: rgb(0, 95, 236);
  transition-duration: 0.3s;
}
.main_poinContainer {
  z-index: -1;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 122px;
  height: 118px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  top: -1187px;
  left: -69px;
}
.main_poinContainer_item {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: rgba(0, 94, 236, 0.1254901961);
}
.main_TestimonialContainer {
  display: flex;
  width: 1168px;
  height: 450px;
  justify-content: space-between;
  margin-top: 55px;
}
.main_TestimonialContainer_left {
  width: 616px;
  margin-top: 55px;
}
.main_TestimonialContainer_left_feedback {
  font-family: "Inter", sans-serif;
  Weight: 500;
  font-size: 24px;
  Style: italic;
  line-height: 44px;
}
.main_TestimonialContainer_left_personalData {
  width: 130px;
  -moz-column-gap: 6px;
       column-gap: 6px;
  margin-top: 33px;
}
.main_TestimonialContainer_left_autor {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 26px;
  color: rgb(24, 33, 109);
}
.main_TestimonialContainer_left_data {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(24, 32, 109, 0.3764705882);
  padding-top: 6px;
}
.main_TestimonialContainer_right {
  display: flex;
  width: 447.59px;
  height: 450px;
  justify-content: center;
}
.main_text {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: rgb(24, 33, 109);
}

.footer {
  display: flex;
  width: 1196px;
  height: 317px;
  margin: 0 auto;
  margin-top: 120px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(24, 32, 109, 0.062745098);
}
.footer_download {
  width: 248px;
  height: 166px;
}
.footer_download_logo {
  width: 158.4px;
  height: 45px;
}
.footer_download_logo_footerLogo {
  width: 100%;
  height: 100%;
}
.footer_download_textContainer {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: rgba(24, 32, 109, 0.5647058824);
  margin-top: 19px;
}
.footer_download_btns {
  display: flex;
  width: 215px;
  height: 30px;
  background: firebrick;
  margin-top: 20px;
  justify-content: space-between;
}
.footer_download_btns_android {
  display: flex;
  Width: 100px;
  Height: 30px;
  cursor: pointer;
  border: none;
  background: rgb(24, 33, 109);
  border-radius: 5px;
}
.footer_download_btns_android_img {
  width: 17.07px;
  height: 19.07px;
}
.footer_download_btns_android_text {
  width: 62.67px;
  height: 20px;
}
.footer_download_btns_ios {
  display: flex;
  cursor: pointer;
  Width: 100px;
  Height: 30px;
  background: rgb(24, 33, 109);
  border-radius: 5px;
  align-items: center;
  padding-left: 8.94px;
  -moz-column-gap: 6.67px;
       column-gap: 6.67px;
}
.footer_download_btns_ios_img {
  Width: 15.59px;
  Height: 19.16px;
}
.footer_download_btns_ios_texts {
  display: flex;
  align-items: center;
  width: 59.88px;
  height: 21.66px;
  background: firebrick;
  padding-top: 5px;
}
.footer_download_btns_ios_texts_img {
  width: 59.88px;
  height: 21.66px;
}
.footer_Resources {
  width: 113px;
  height: 257px;
}
.footer_Resources_list {
  list-style: none;
  margin-top: 31px;
  line-height: 40px;
}
.footer_products {
  width: 117px;
  height: 257px;
}
.footer_products_list {
  list-style: none;
  margin-top: 31px;
  line-height: 40px;
}
.footer_more {
  width: 68px;
  height: 257px;
}
.footer_more_list {
  list-style: none;
  margin-top: 31px;
  line-height: 40px;
}
.footer_contact {
  width: 250px;
  height: 141px;
}
.footer_contact_subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(24, 32, 109, 0.5019607843);
  line-height: 40px;
}

.font {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: rgb(24, 33, 109);
}

.listfont {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(24, 32, 109, 0.5647058824);
}

.copyright {
  display: flex;
  justify-content: center;
  padding: 30px;
  color: rgba(24, 32, 109, 0.5019607843);
}

span {
  color: rgb(109, 109, 109);
}/*# sourceMappingURL=style.css.map */