.header {
  display: flex;
  width: 1400px;
  height: 52px;
  background: saddlebrown;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.header_icondiv {
  display: flex;
  align-items: center;
  -moz-column-gap: 7px;
       column-gap: 7px;
}
.header_icondiv_svg {
  width: 32px;
  height: 32px;
}
.header_icondiv_name {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.header_linkdiv {
  width: 507px;
  height: 20px;
  background: violet;
}
.header_linkdiv_nav {
  display: flex;
  justify-content: space-between;
}
.header_linkdiv_nav_link {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 500;
  font-size: 18px;
  color: rgb(24, 33, 109);
}
.header_btns {
  display: flex;
  -moz-column-gap: 45px;
       column-gap: 45px;
  height: 100%;
}
.header_btns_item {
  cursor: pointer;
  display: flex;
  width: 136px;
  height: 52px;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.blue {
  background: rgb(24, 33, 109);
  color: white;
  border-radius: 6px;
}

.nobg {
  color: rgb(24, 33, 109);
}

.main {
  background: darkmagenta;
  width: 1188px;
  margin: 0 auto;
}
.main_left {
  width: 498px;
  height: 292px;
  background: darkgreen;
  align-items: center;
}
.main_left_title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 48px;
}
.main_left_subtitle {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  padding-top: 16px;
}
.main_left_btn {
  width: 180px;
  height: 66px;
  margin-top: 34px;
  background: rgb(0, 236, 208);
  border-radius: 6px;
  border: none;
  color: rgb(24, 33, 109);
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.main_right {
  height: 518.35px;
  background: saddlebrown;
}
.main_right_img {
  position: absolute;
  right: 165px;
  width: 786px;
  height: 518.35px;
}
.main_imgAndText {
  display: flex;
  width: 1189px;
  background: darkorange;
  margin: 0 auto;
  margin-top: 50px;
  align-items: center;
}
.main_stats {
  width: 1107px;
  height: 150px;
  background: tomato;
  display: flex;
  justify-content: space-between;
}
.main_stats_left {
  Width: 494px;
  Height: 150px;
}
.main_stats_left_text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: rgb(24, 33, 109);
  line-height: 50px;
}
.main_stats_right {
  display: flex;
  width: 336px;
  height: 142px;
  background: darkgoldenrod;
  justify-content: space-between;
}
.main_stats_right_download {
  width: 137px;
  height: 134px;
  background: yellow;
}
.main_stats_right_download_title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: rgb(24, 33, 109);
}
.main_stats_right_download_svg {
  padding-top: 10px;
  width: 16px;
  height: 14px;
}
.main_stats_right_download_subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-top: 12px;
}
.main_stats_right_rating {
  width: 107.28px;
  height: 134px;
  background: blue;
}
.main_stats_right_rating_title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: rgb(24, 33, 109);
}
.main_stats_right_rating_svg {
  margin-top: 8.04px;
  Width: 16.69px;
  Height: 15.9px;
}
.main_stats_right_rating_subtitle {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(24, 33, 109);
  padding-top: 12.04px;
}
.main_partners {
  display: flex;
  width: 1110px;
  height: 34.88px;
  background: burlywood;
  margin-left: 30px;
  align-items: center;
  -moz-column-gap: 79.73px;
       column-gap: 79.73px;
}
.main_partners_airbnblogo {
  width: 112.12px;
  height: 34.88px;
}
.main_partners_layer2 {
  Width: 104.65px;
  Height: 29.91px;
}
.main_partners_google {
  width: 104.65px;
  height: 34.88px;
}
.main_partners_microsoft {
  width: 151.99px;
  height: 32.39px;
}
.main_partners_fedex {
  Width: 99.54px;
  Height: 30.06px;
}
.main_features {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 48px;
  padding-top: 130.12px;
}
.main_subfeature {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  Width: 542px;
  text-align: center;
  margin: 0 auto;
  line-height: 30px;
  padding-top: 12px;
}/*# sourceMappingURL=style.css.map */